@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,400;0,700;1,700&display=swap');

:root {
  --pr-color: #048853;
}

body {
  font-family: 'Comic Neue', cursive;
  background-color: transparent;
}

.navbar-brand {
  font-weight: 700;
  font-size: 20px;
}

.nav-link.active {
  font-weight: 700;
  font-size: 16px;
}

.button-secondary-login {
  width: 133px;
  height: 40px;
  background-color: white;
  color: var(--pr-color);
  border: none;
  font-size: 16px;
  font-weight: 700;
  border-radius: 20px;
}

.button-primary {
  width: 133px;
  height: 40px;
  background-color: transparent;
  color: #fff;
  border: none;
  font-size: 16px;
  font-weight: 400;
}

/* Hero */

#hero {
  background: linear-gradient(160deg, var(--pr-color), #0000);
  height: 100vh;
  width: 100%;
}

.img-hero {
  height: 100%;
}

.hero-tagline h1 {
  color: #fff;
  font-weight: 700;
  font-size: 50px;
  line-height: 72px;
}

.hero-tagline p {
  color: #fff;
  font-size: 16px;
  margin-bottom: 60px;
  margin-top: 20px;
  width: 85%;
}

.button-lg-primary {
  width: 237px;
  height: 60px;
  background-color: #fff;
  color: var(--pr-color);
  border: none;
  font-size: 16px;
  font-weight: 700;
  border-radius: 30px;
}

.navbar {
  z-index: 3;
}

* {
  z-index: 2;
}

.aksen-img {
  z-index: 1;
}

.img-hero {
  z-index: 1;
}

.services {
  padding: 100px 0;
}

h2,
#recomendations h2 {
  font-size: 48px;
  font-weight: 500px;
  color: var(--pr-color);
}

.subtitle {
  font-size: 18px;
  color: black;
}

.card-layanan {
  width: 100%;
  height: 313px;
  border-radius: 5px;
  background-color: #fff;
  padding: 40px;
  box-shadow: 0 0 7px 3px black;
}

.circle-icon {
  width: 70px;
  height: 70px;
  background-color: var(--pr-color);
  border-radius: 50%;
  transition: all 0.1s ease-in;
}

.card-layanan h3 {
  color: var(--pr-color);
  font-size: 24px;
  transition: all 0.2s ease-in;
}

.card-layanan p {
  color: #000;
  font-size: 14px;
  transition: all 0.3s ease-in;
}

/* hover */

/* .card-layanan:hover {
  width: 100%;
  height: 313px;
  border-radius: 5px;
  background: linear-gradient(160deg, var(--pr-color), #000);
  padding: 40px;
  box-shadow: 0 0 7px 3px black;
  transition: all 0.1s ease-in;
} */

.card-layanan:hover .circle-icon {
  background-color: #fff;
  transition: all 0.2s ease-in;
}

.card-layanan:hover h3 {
  color: #000;
  font-size: 24px;
  transition: all 0.3s ease-in;
}

.card-layanan:hover p {
  color: var(--pr-color);
  font-size: 14px;
  transition: all 0.4s ease-in;
}

/* search section */
#features {
  background-image: url(../img/Img-search.png);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

#features h2 {
  font-size: 48px;
  color: #fff;
  font-weight: 600;
  line-height: 72px;
  letter-spacing: 0em;
  text-align: center;
  background-repeat: no-repeat;
}

#features p {
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
}

.search-bar {
  height: 88px;
  background-color: #fff;
  color: var(--pr-color);
}

.search-bar:focus {
  border: none;
}

.button-secondary {
  width: 200px;
  height: 88px;
  background-color: #fff;
  color: var(--pr-color);
  font-size: 18px;
  font-weight: 500;
  border: none;
}

.button-search {
  background-color: var(--pr-color);
  border: none;
  color: white;
  font-size: 20px;
  font-weight: 500;
}

.button-search:hover {
  background-color: red;
  color: #fff;
}

.nav-tabs .nav-link {
  color: black;
  border-radius: 0 0 0 0;
  background-color: white;
}

.nav-tabs .nav-item .nav-link.active {
  color: var(--pr-color);
}

.card {
  width: 22rem;
  height: 440px;
  border: none;
}

.card-body h4 {
  color: #000;
  font-weight: 600;
  font-size: 24px;
  line-height: 0.8rem;
}

.card-body p {
  color: #454545;
  font-weight: 400;
  font-size: 14px;
}

.card:hover {
  background: linear-gradient(170deg, var(--pr-color), #007245, #007245, #000);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}
